/* Estilo perfil.html */
@import "estilo_tablas.css";


* {
  box-sizing: border-box;
}

.column {
      float: left;
      padding: 10px;
      height: available;
}

.left {
    text-align: left;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-collapse: collapse;
    border-radius: 5px;
    width: 50%;
    height: auto;
}

.right {
    text-align: left;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-collapse: collapse;
    border-radius: 5px;
    width: 50%;
    height: auto;
}

.row:after {
      content: "";
      display: table;
      clear: both;
}

.titulo {
    font-weight: bold;
    font-size: 150%;
    color: #20BED6
}

table {}

tr:hover {}

th, td {}

tr:nth-child(even){}

th {}

tr {}

.titulo_tabla {}