<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Califica tu trueque</title>
    <link rel="stylesheet" type="text/css" href="{% static 'truequeapp/css/calificar.css' %}">
</head>

<body>

    {% include "barra.html" %}

    <div id="contenedor-pagina">
        <div class="calificar_contenedor">
            <h1>Califique su trueque con el usuario
                {% if trueque.oferente.username == user.username %} {{trueque.demandante}}
                {% elif trueque.demandante.username == user.username %} {{trueque.oferente}} {% endif %}
            </h1>
            <form method="POST">

                {% csrf_token %}

                <div class="calificar">
                    <span class="calificacion-estrella">
                        <input type="radio" name="calificacion" value="1" id="uno" required><i></i>
                        <input type="radio" name="calificacion" value="2" id="dos"><i></i>
                        <input type="radio" name="calificacion" value="3" id="tres"><i></i>
                        <input type="radio" name="calificacion" value="4" id="cuatro"><i></i>
                        <input type="radio" name="calificacion" value="5" id="cinco"><i></i>
                    </span>
                </div>

                <div>
                    <button type="submit"> Enviar </button>
                </div>
            </form>
            <a href="/home">Volver a home</a>
        </div>

        <div id="imagen1">
            <a><img id="imagen_logo1" src="../media/pagina/truequeapp1.png" alt="Logo1" width="150" height="150"></a>
        </div>

        <div id="imagen2">
            <a><img id="imagen_logo1" src="../media/pagina/truequeapp1.png" alt="Logo1" width="150" height="150"></a>
        </div>
    </div>

    {% include "pie.html" %}
</body>