<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
</head>

<body>

    {% include "barra.html" %}

    <div id="contenedor-pagina">
        <div>Para soporte tecnico contactenos al +56 9 1111 1111 o a través del correo TRUEquesTq@truques.tq</div>
<!-- UwU, para borrarlo -------------------------------------- -->
        <br><br><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uIauXFVABIQ" title="Ayaya" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!-- --------------------------------------------------------- -->
    </div>

    {% include "pie.html" %}
</body>
</html> 