<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Mi perfil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'truequeapp/css/mi_perfil.css' %}">
</head>

<body>

    {% include "barra.html" %}

    <div id="contenedor-pagina">
        <h1 class="tgrande">Mi perfil</h1>

        <div id="row">
            <div id="datos1">
                <div id="imagen_perfil">
                    <a><img id="perfil_imagen" src="../../media/pagina/perfil.png" alt="perfil_imagen" width="250" height="250"></a>
                </div>

                <div id="usuario">
                    {{usuario}} <br>
                    {{email}} <br>
                    {% if email_respaldo != "" %}
                        {{email_respaldo}}
                    {% endif %}
                </div>

                <div id="info">
                    <div class="titulo">Datos</div>
                    <li><a>Nombre Completo: {{nombre}} {{apellido}}</a></li>
                    <li><a>Teléfono: {{telefono}}</a></li>
                    <li><a>Rut: {{rut}}</a></li>
                    <li><a>Región: {{region}}</a></li>
                </div>
            </div>

            <div id="datos0">
                <div id="opciones">
                    <div id="boton_opcion" class="boton_opcion">
                        <li><a class="publicaciones_boton" href="/mis_publicaciones/">Mis publicaciones</a></li>
                    </div>

                    <div id="boton_opcion" class="boton_opcion">
                        <li><a class="trueques_boton" href="/mis_trueques/">Mis trueques</a></li>
                    </div>
                </div>

                <div id="mostrar"></div>
            </div>

        </div>
    </div>

    {% include "pie.html" %}
</body>
</html>