<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Mi perfil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'truequeapp/css/mi_perfil.css' %}">
</head>

<body>

    {% include "barra.html" %}

    <div>
        <h1 class="tgrande">Mi perfil</h1>

        <div class="row">
            <div class="column left">
                Mis datos<br>
                <a href="/mis_publicaciones/">Mis publicaciones </a><br>
                <a href="/mis_trueques/">Trueques</a>
            </div>

            <div  class="column right">
                <div class="titulo">Datos de mi cuenta</div><br><br>
                Nombre: {{nombre}}<br>
                Apellido: {{apellido}}<br>
                Nombre de usuario: {{usuario}}<br>
                Teléfono: {{telefono}}<br>
                Rut: {{rut}}<br>
                Región: {{region}}
            </div>

            <div class="column right">
                <div class="titulo">Datos de mis trueques</div><br><br>
                Tu número de publicaciones activas: {{n_p_activas}}<br>
                Tu número de trueques abiertos: {{n_t_abiertos}}<br>
                Haz concretado {{n_t_concretados}} trueque(s)<br>
                Eres miembro desde {{miembro_desde}}<br>
                Tu reputación: {{reputacion}}
            </div>

        </div>
    </div>
</body>
</html>