<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Mi perfil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'truequeapp/css/mi_perfil.css' %}">
</head>

<body>

    {% include "barra.html" %}

    <div>
        <h1>Mi perfil</h1>

        <div id="barra_lateral">
            <a href="/perfil/{{ user.username }}"> Mis datos </a><br>
            Mis publicaciones <br>
            <a href="">Trueques</a>
        </div>

        <div id="informacion">
            <div>Publicaciones</div><br><br>

            <div>
                <table border="solid-black">
                    {% for publicacion in publicaciones %}
                        <tr onclick="location.href='/publicacion?id={{publicacion.id}}'">
                            <td><img src="{{publicacion.foto_principal.url}}" width="100px" height="100px"></td>
                            <td>{{publicacion.titulo}} <br> {{publicacion.get_estado_display}}</td>
                            <td>{{publicacion.get_categoria_display}} <br> {{publicacion.get_cambio_display}} <br> {{publicacion.fecha}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>