<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Mis publicaciones</title>
    <link rel="stylesheet" type="text/css" href="{% static 'truequeapp/css/mi_perfil.css' %}">
</head>

<body>

    {% include "barra.html" %}

    <div id="contenedor-pagina">
        <h1 class="tgrande">Mi perfil</h1>

        <div id="row">
            <div id="datos1">
                <div id="imagen_perfil">
                    <a><img id="perfil_imagen" src="../../media/pagina/perfil.png" alt="perfil_imagen" width="250" height="250"></a>
                </div>

                <div id="usuario">
                    {{usuario}} <br>
                    {{email}} <br>
                    {% if email_respaldo != "" %}
                        {{email_respaldo}}
                    {% endif %}
                </div>

                <div id="info">
                    <div class="titulo">Datos</div>
                    <li><a>Nombre Completo: {{nombre}} {{apellido}}</a></li>
                    <li><a>Teléfono: {{telefono}}</a></li>
                    <li><a>Rut: {{rut}}</a></li>
                    <li><a>Región: {{region}}</a></li>
                    <br>
                    <li><a>Publicaciones activas: {{n_p_activas}}</a></li>
                    <li><a>Trueques abiertos: {{n_t_abiertos}}</a></li>
                    <li><a>Haz concretado {{n_t_concretados}} trueque(s)</a></li>
                    <li><a>Miembro desde {{miembro_desde}}</a></li>
                    <li><a>Reputación: {{reputacion}}</a></li>
                </div>
            </div>

            <div id="datos0">
                <div id="opciones">
                    <div id="boton_opcion" class="boton_opcion">
                        <li><a class="active" href="/mis_publicaciones/">Mis publicaciones</a></li>
                    </div>

                    <div id="boton_opcion" class="boton_opcion">
                        <li><a class="trueques_boton" href="/mis_trueques/">Mis trueques</a></li>
                    </div>
                </div>


                <div id="mostrar">
                    <div class="titulo">Publicaciones</div>

                    <div class="mostrar_publicaciones">
                        <table>
                            {% for publicacion in publicaciones %}
                                <tr onclick="location.href='/publicacion?id={{publicacion.id}}'">
                                    <td><img src="{{publicacion.foto_principal.url}}" width="100px" height="100px"></td>
                                    <td><span id="titulo">{{publicacion.titulo}} </span>
                                        <br> <span id="estado">{{publicacion.get_estado_display}} </span></td>
                                    <td><span id="categoria"> {{publicacion.get_categoria_display}} </span>
                                        <div class="linea"></div>
                                        <span id="cambio"> Busco: {{publicacion.get_cambio_display}} </span>
                                        <div class="linea"></div>
                                        <span id="fecha">{{publicacion.fecha}} </span></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% include "pie.html" %}
</body>
</html>