<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Mi perfil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'truequeapp/css/trueques_perfil.css' %}">
</head>

<body>

    {% include "barra.html" %}

    <div>
        <h1 class="tgrande">Mi perfil</h1>

        <div class="row">
            <div class="column left">
                <a href="/perfil/{{ user.username }}"> Mis datos </a><br>
                <a href="/mis_publicaciones/">Mis publicaciones </a><br>
                <a>Trueques</a>
            </div>

            <div class="column right">
                <div class="titulo">Trueques ofrecidos</div><br><br>

                <div>
                    <table>
                        <tr>
                            <th>Tu Publicación</th>
                            <th>...</th>
                            <th>Demandante</th>
                            <th>Publicación ofrecida</th>
                            <th>...</th>
                        </tr>
                        {% for trueques in trueque_como_oferente %}
                            <tr>
                                <td onclick="location.href='/publicacion?id={{trueques.publicacion_oferente_id}}'"><img src="{{trueques.publicacion_oferente_foto}}" width="100px" height="100px"></td>
                                <td onclick="location.href='/publicacion?id={{trueques.publicacion_oferente_id}}'">{{trueques.publicacion_oferente_titulo}} <br> {{trueques.publicacion_oferente_estado}}</td>
                                <td onclick="location.href='/perfil/{{trueques.demandante}}/'">{{trueques.demandante}}</td>
                                <td onclick="location.href='/publicacion?id={{trueques.publicacion_demandante_id}}'"><img src="{{trueques.publicacion_demandante_foto}}" width="100px" height="100px"></td>
                                <td onclick="location.href='/publicacion?id={{trueques.publicacion_demandante_id}}'">{{trueques.publicacion_demandante_titulo}} <br> {{trueques.publicacion_demandante_estado}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            <br><br><br>

            <div class="titulo">Trueques demandados</div><br><br>

                <div>
                    <table>
                        <tr>
                            <th>Tu Publicación</th>
                            <th>...</th>
                            <th>Oferente</th>
                            <th>Publicación ofrecida</th>
                            <th>...</th>
                        </tr>
                        {% for trueques in trueque_como_demandante  %}
                            <tr>
                                <td onclick="location.href='/publicacion?id={{trueques.publicacion_demandante_id}}'"><img src="{{trueques.publicacion_demandante_foto}}" width="100px" height="100px"></td>
                                <td onclick="location.href='/publicacion?id={{trueques.publicacion_demandante_id}}'">{{trueques.publicacion_demandante_titulo}} <br> {{trueques.publicacion_demandante_estado}}</td>
                                <td onclick="location.href='/perfil/{{trueques.oferente}}/'">{{trueques.oferente}}</td>
                                <td onclick="location.href='/publicacion?id={{trueques.publicacion_oferente_id}}'"><img src="{{trueques.publicacion_oferente_foto}}" width="100px" height="100px"></td>
                                <td onclick="location.href='/publicacion?id={{trueques.publicacion_oferente_id}}'">{{trueques.publicacion_oferente_titulo}} <br> {{trueques.publicacion_oferente_estado}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>