<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Mi perfil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'truequeapp/css/es_mi_perfil.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'truequeapp/css/publicaciones.css' %}">
</head>

<body>

    {% include "barra.html" %}

    <div>
        <h1>Mi perfil</h1>
        <div id="barra_lateral">
            <div id="fondo">
                <ul id="lista">
                    <li><a class="pestañas" href="/perfil/{{ user.username }}"> Mis datos </a></li>
                    <li>Mis publicaciones</li>
                    <li><a class="pestañas"href="/mis_trueques/">Trueques</a></li>
                </ul>
            </div>
        </div>
      
        <div id="informacion">
            <h3>Publicaciones</h3>

            <div>
                <table>
                    {% for publicacion in publicaciones %}
                        <tr onclick="location.href='/publicacion?id={{publicacion.id}}'">
                            <td><img src="{{publicacion.foto_principal.url}}" width="100px" height="100px"></td>
                            <td>{{publicacion.titulo}} <br> {{publicacion.get_estado_display}}</td>
                            <td>{{publicacion.get_categoria_display}} <br> {{publicacion.get_cambio_display}} <br> {{publicacion.fecha}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>