<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
	<meta charset="utf-8">
	<title>Notificación Usuario</title>
    <link rel="stylesheet" type="text/css" href="{% static 'truequeapp/css/publicaciones.css' %}">
</head>

<body>
    {% include "barra.html" %}

        <h1 style="text-align: center"> Notificaciones ({{ mensajes|length }})</h1>
        {% if mensajes|length == 0 %}
            <h4>No tienes mensajes nuevos</h4>
        {% else %}
        <table id="publicaciones">
            {% for mensaje in mensajes %}
                <tr>
                    <td>
                        <h3>{{ mensaje.informacion }}</h3>
                    </td>
                    <td><button onclick="location.href='{{mensaje.link}}'">{{mensaje.tipo}}</button></td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

</body>
</html>