<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Perfil: {{usuario}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'truequeapp/css/perfil.css' %}">
</head>

<body>

    {% include "barra.html" %}

    <div>
        <h1>Perfil: {{usuario}}</h1>

        <div class="row">

            <div class="titulo">Datos</div><br><br>

            <div class="column left">
                Nombre: {{nombre}}<br>
                Apellido: {{apellido}}<br>
                Redes: {{red_social}}<br>
                Correo: {{email}}<br>
                Teléfono: {{telefono}}<br>
                Región: {{region}}
            </div>

            <div class="column right">
                N° de publicaciones: {{publicaciones|length}}<br>
                N° Publicaciones Activas: {{n_p_activas}}<br>
                N° de trueques abiertos: {{n_t_abiertos}}<br>
                N° de trueques concretados: {{n_t_concretados}}<br>
                Miembro desde: {{miembro_desde}}<br>
                Reputacion: {{reputacion}}
            </div>
        </div>

        <div><br><br>
            <div class="titulo">Publicaciones</div><br><br>

            <div>
                <table>
                    {% for publicacion in publicaciones %}
                        <tr onclick="location.href='/publicacion?id={{publicacion.id}}'">
                            <td><img src="{{publicacion.foto_principal.url}}" width="100px" height="100px"></td>
                            <td>{{publicacion.titulo}} <br> {{publicacion.get_estado_display}}</td>
                            <td>{{publicacion.get_categoria_display}} <br> {{publicacion.get_cambio_display}} <br> {{publicacion.fecha}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>