<html>
    <head>
        <title>Publicar</title>
        <script>
            function addImageButton(i){

                if (i < 6){

                    let input_nuevo = document.createElement("input");
                    input_nuevo.setAttribute("id","foto_"+i);
                    input_nuevo.setAttribute("name","foto_"+i);
                    input_nuevo.setAttribute("type","file");
                    input_nuevo.setAttribute("required","");
                    document.getElementById("fotos-div").appendChild(input_nuevo);

                    let agregar_imagen = document.getElementById("agregar-fotos");
                    agregar_imagen.setAttribute("onclick","addImageButton("+(i+1)+")");
                }
            }
        </script>
    </head>

    <body>

        {% include "barra.html" %}

        <h1>Publicar Producto</h1>

        {% if user.is_authenticated %}
        
            <form action="/publicar/" method="POST" enctype="multipart/form-data"> {% csrf_token %}

                <div id="titulo-div">
                    <label for="titulo">Titulo</label>
                    <input id="titulo" name="titulo" type="text" maxlength="200" required>
                </div>

                <div id="descripcion-div">
                    <label for="descripcion">Descripcion</label>
                    <textarea id="descripcion" name="descripcion" cols="20" rows="10"></textarea>
                </div>

                <div id="estado-div">
                    <label for="estado">Estado</label>
                    <select id="estado" name="estado" required>
                        <option value="" selected>Elija un estado</option>
                        {% for estado in estados %}
                        <option value="{{estado.0}}">{{estado.1}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div id="categoria-div">
                    <label for="categoria">Categoria</label>
                    <select id="categoria" name="categoria" required>
                        <option value="" selected>Elija una categoria</option>
                        {% for categoria in categorias %}
                        <option value="{{categoria.0}}">{{categoria.1}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div id="fotos-div">
                    <label for="fotos">Fotos</label>
                    <input id="foto_1" name="foto_1" type="file" required>
                </div>

                <div id="agregar-fotos-div">
                    <button id="agregar-fotos" type="button" onclick="addImageButton(2)">Agregar mas fotos</button>
                </div>

                <div id="cambio-div">
                    <label for="cambio">Cambio</label>
                    <select id="cambio" name="cambio" required>
                        <option value="" selected>Elija una categoria</option>
                        {% for categoria in categorias %}
                        <option value="{{categoria.0}}">{{categoria.1}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div id="enviar-div">
                    <input id="enviar" name="enviar" type="submit" value="Publicar">
                </div>
            </form>
        {% else %}
            <h3>Por favor incie sesion para publicar sus productos</h3>
        {% endif %}
    </body>
</html>