<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <title>Publicar</title>
    <link rel="stylesheet" type="text/css" href="{% static 'truequeapp/css/formulario.css' %}">
    <script src="{% static 'truequeapp/js/publicar.js' %}"></script>
</head>

<body>

    {% include "barra.html" %}

    <div id="contenedor-pagina">
        <div id="imagen">
            <a><img id="imagen_logo1" src="../media/pagina/truequeapp1.png" alt="Logo1" width="250" height="250"></a>
        </div>


        <div id="formulario">

            <h1 style="text-align: center">Publicar</h1>
            <h4 style="text-align: center">Los campos marcados con <span style="color: red;">*</span> son obligatorios</h4><br>

            {% if user.is_authenticated %}

                <form action="/publicar/" method="POST" enctype="multipart/form-data"> {% csrf_token %}

                    <div>
                        <input id="titulo" name="titulo" type="text" maxlength="200" placeholder="Titulo" required>
                        <span style="color: red;">*</span>
                    </div>

                    <div>
                        <textarea id="descripcion" name="descripcion" placeholder="Describa aquí su producto."></textarea>

                    </div>

                    <div>
                        <select id="estado" name="estado" required>
                            <option value="" selected>Elija el estado de su producto</option>
                            {% for estado in estados %}
                                <option value="{{estado.0}}">{{estado.1}}</option>
                            {% endfor %}
                        </select>
                        <span style="color: red;">*</span>
                    </div>

                    <div>
                        <select id="categoria" name="categoria" required>
                            <option value="" selected>Elija la categoria de su producto</option>
                            {% for categoria in categorias %}
                                <option value="{{categoria.0}}">{{categoria.1}}</option>
                            {% endfor %}
                        </select>
                        <span style="color: red;">*</span>
                    </div>

                    <div id="fotos-div">
                        <div id="input-fotos">
                            <input id="foto_1" name="foto_1" type="file" required>
                            <span style="color: red;">*</span>
                        </div>
                    </div>

                    <div id="agregar-fotos-div" class="form-div">
                        <button id="agregar-fotos" type="button" onclick="addImageButton(2)">Agregar mas fotos</button>
                    </div>

                    <div>
                        <select id="cambio" name="cambio" required>
                            <option value="" selected>Elija la categoria que desea</option>
                            {% for categoria in categorias %}
                                <option value="{{categoria.0}}">{{categoria.1}}</option>
                            {% endfor %}
                        </select>
                        <span style="color: red;">*</span>
                    </div>

                    <div id="enviar-div">
                        <input id="enviar" name="enviar" type="submit" value="Publicar">
                    </div>
                </form>

            </div>
            {% else %}
                <h3>Por favor inicie sesion para publicar sus productos</h3>
            {% endif %}
        </div>
    </div>

    {% include "pie.html" %}
</body>
</html>