<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Publicaciones</title>
    <link rel="stylesheet" type="text/css" href="{% static 'truequeapp/css/publicacion_elegida.css' %}">
</head>

<body>

    {% include "barra.html" %}

    <h1>{{publicacion.titulo}}</h1>

    <div id="izq">

        <div id="imagenes">
            <img src="{{publicacion.foto_principal.url}}" width="400px" height="400px">
            {% if publicacion.foto_2 %}
                <img src="{{publicacion.foto_2.url}}" width="40px" height="40px">
            {% endif %}
        </div>
        <div class="boton">
            <button type="button" class="btn" onclick="location.href='/contactar?id_p={{publicacion.id}}&id_i={{user.id}}'">Contactar Publicador</button>
        </div>
    </div>
    <div id="der">
        <h3>Descripción: </h3>
        <p>{{publicacion.descripcion}}</p>
        <table>
            <tr>
                <td class= "etiq">Estado:</td><td>{{publicacion.get_estado_display}}</td>
            </tr>
            <tr>
                <td class= "etiq">Categoria:</td><td> {{publicacion.get_categoria_display}}</td>
            </tr>
            <tr>
                <td class= "etiq">Busco:</td><td>{{publicacion.get_cambio_display}}</td>
            </tr>
            <tr>
                <td class= "etiq">Publicador:</td><td> {{publicacion.publicador.username}}</td>
            </tr>
            <tr>
                <td class= "etiq">Fecha:</td><td> {{publicacion.fecha}}</td>
            </tr>    
        </table> 
    </div>

</body>
</html> 