<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Publicaciones</title>
    <link rel="stylesheet" type="text/css" href="{% static 'truequeapp/css/publicacion_elegida.css' %}">
    <script src="{% static 'truequeapp/js/cambiar_foto.js' %}"></script>
</head>

<body>

    {% include "barra.html" %}

    <h1>{{publicacion.titulo}}</h1>

    <div id="izq">

        <div id="imagenes">
            <div>
                <img name="imagen_grande" src="" width="400px" height="400px">
            </div>

            <div>
                <input type="image" name="foto_principal" src="{{publicacion.foto_principal.url}}" width="40px" height="40px"
                    onclick="cambiarImagen(this)" onload="cambiarImagen(this)">

                {% if publicacion.foto_2 %}
                    <input type="image" name="foto_2" src="{{publicacion.foto_2.url}}" width="40px" height="40px"
                    onclick="cambiarImagen(this)">
                {% endif %}

                {% if publicacion.foto_3 %}
                    <input type="image" name="foto_3" src="{{publicacion.foto_3.url}}" width="40px" height="40px"
                    onclick="cambiarImagen(this)">
                {% endif %}

                {% if publicacion.foto_4 %}
                    <input type="image" name="foto_4" src="{{publicacion.foto_4.url}}" width="40px" height="40px"
                    onclick="cambiarImagen(this)">
                {% endif %}

                {% if publicacion.foto_5 %}
                    <input type="image" name="foto_5" src="{{publicacion.foto_5.url}}" width="40px" height="40px"
                    onclick="cambiarImagen(this)">
                {% endif %}
            </div>
        </div>
    </div>

    <div id="der">
        <h3>Descripción: </h3>

        <p>{{publicacion.descripcion}}</p>

        <table>
            <tr>
                <td class= "etiq">Estado:</td><td>{{publicacion.get_estado_display}}</td>
            </tr>
            <tr>
                <td class= "etiq">Categoria:</td><td> {{publicacion.get_categoria_display}}</td>
            </tr>
            <tr>
                <td class= "etiq">Busco:</td><td>{{publicacion.get_cambio_display}}</td>
            </tr>
            <tr>
                <td class= "etiq">Publicador:</td><td> {{publicacion.publicador.username}}</td>
            </tr>
            <tr>
                <td class= "etiq">Fecha:</td><td> {{publicacion.fecha}}</td>
            </tr>    
        </table>
        {% if  publicacion.publicador.username != user.username %}
        <div class="boton">
            <button type="button" class="btn" onclick="location.href='/contactar?id_p={{publicacion.id}}'">
            Contactar Publicador</button>
        </div>
        {% else %}
        <h3>Esta publicación es tuya</h3>
        {% endif %}
    </div>

</body>
</html> 