<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Publicaciones</title>
</head>

<body>
    {% include "barra.html" %}
    <h1>Publicaciones existentes</h1>

    <table border="solid-black">
    {% for publicacion in publicaciones_totales %}
        <tr onclick="location.href='/publicacion?id={{publicacion.id}}'">
            <td><img src="{{publicacion.fotos.url}}" width="100px" height="100px"></td>
            <td>{{publicacion.titulo}} <br> {{publicacion.estado}}</td>
            <td>{{publicacion.categoria}} <br> {{publicacion.cambio}} <br> {{publicacion.fecha}}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html> 