<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
	<meta charset="utf-8">
	<title>Registro de Usuario</title>
    <link rel="stylesheet" type="text/css" href="{% static 'truequeapp/css/formulario.css' %}">
</head>

<body>

	{% include "barra.html" %}

        <h1 style="text-align: center"> Registro de usuario </h1>
        <div id="formulario">
        <div method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="nombre_usuario">Nombre de Usuario</label>
                <input type="text" class="form-control" id="nombre_usuario" name="nombre_usuario" required>
            </div>

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>

            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido" required>
            </div>

            <div class="form-group">
                <label for="rut">Rut (sin puntos y con guión)</label>
                <input type="text" class="form-control" id="rut" name="rut">
            </div>

            <div class="form-group">
                <label for="numero">Número de teléfono</label>
                <input type="text" class="form-control" id="numero" name="numero">
            </div>

            <div class="form-group">
                <label for="red_social">Red social (Ejemplos: Facebook, Instagram)</label>
                <input type="url" class="form-control" id="red_social" name="red_social">
            </div>

            <div class="form-group">
                <label for="region">Región (Chile)</label>
                <select id="region" class="form-control" name="region" required>
                    <option selected disabled value="">Seleccione una región</option>
                    <option value="Antofagasta">Antofagasta</option>
                    <option value="Tarapacá">Tarapacá</option>
                    <option value="Atacama">Atacama</option>
                    <option value="Coquimbo">Coquimbo</option>
                    <option value="Valparaíso">Valparaíso</option>
                    <option value="Región del Libertador Gral. Bernardo O’Higgins">Región del Libertador Gral. Bernardo O’Higgins</option>
                    <option value="Región del Maule">Región del Maule</option>
                    <option value="Región del Biobío">Región del Biobío</option>
                    <option value="Región de la Araucanía">Región de la Araucanía</option>
                    <option value="Región de Los Ríos">Región de Los Ríos</option>
                    <option value="Región de Los Lagos">Región de Los Lagos</option>
                    <option value="Región Aisén del Gral. Carlos Ibáñez del Campo">Región Aisén del Gral. Carlos Ibáñez del Campo</option>
                    <option value="Región de Magallanes y de la Antártíca Chilena">Región de Magallanes y de la Antártíca Chilena</option>
                    <option value="Región Metropolitana de Santiago">Región Metropolitana de Santiago</option>
                </select>
            </div>

            <div class="form-group">
                <label for="correo">Correo</label>
                <input type="email" class="form-control" id="correo" name="correo" required>
            </div>

            <div class="form-group">
                <label for="correo_respaldo">Correo de respaldo</label>
                <input type="email" class="form-control" id="correo_respaldo" name="correo_respaldo">
            </div>

            <div class="form-group">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" class="form-control" id="contraseña" name="contraseña" required>
            </div>

            <button type="submit">Crear usuario</button>
        </form>
        </div>

</body>
</html>