/* Estilo para las tablas*/


table {
    border-collapse: collapse;
    border: 1px solid darkgoldenrod;
    width: 100%;
    overflow: auto;
}


tr:hover {
    border: 1px solid darkgoldenrod;
    text-align: left;
    padding: 8px;
    background-color: darkgray;
}

tr:nth-child(even):hover{
    border: 1px solid darkgoldenrod;
    background-color: darkgray
}

tr {
    background-color: honeydew;
    border: 1px solid darkgoldenrod;
}

th, td {
    border: 1px solid ;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: lightgray;
    border: 1px solid darkgoldenrod;
}


th {
    border: 1px solid darkgoldenrod;
    background-color: darkgoldenrod;
    color: white;
}

.titulo_tabla {
    text-align: center;
    font-size: 250%;
    color: #20BED6
}