 /* Estilo barra.hmtl */
/*Paleta de colores
Verde: #81FA25
Celeste/Azul: #20BED6
Morado: #952FED
Rojo: #D64920
Amarillo: #FAE34A
Blanco crema: #efefef
*/

* {
    box-sizing: border-box; margin: 0; padding:0;
}

#formulario {
    position: relative;
    top: -120px;
    margin: 0 auto;
    background: #ecf0f1;
    width: 350px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 15px;
    padding-top: 100px;
}

#imagen{
    position: relative;
    margin: 0 auto;
    width: 250px;
    top: -30px;
    z-index: 1;
}

#formulario h1 {
    text-align: center;
    font-weight: 200;
    font-size: 200%;
    color: #20BED6;
    margin-top: 5px;
    margin-bottom: 40px;
    }

#formulario .form {
    padding-top: 20px;
}

#formulario input[type="text"],
#formulario input[type="password"],
#formulario input[type="url"],
#formulario input[type="email"],
#formulario textarea,
#formulario input[type="submit"],
#formulario button,
#formulario select {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 25px;
    height: 40px;
    border-radius: 5px;
    outline: 0;
}

#formulario textarea{
    height: 128px;
}

#input-fotos input[type="file"] {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
    height: 25px;
    border-radius: 5px;
    outline: 0;
}

#formulario input[type="text"],
#formulario input[type="password"],
#formulario input[type="url"],
#formulario input[type="email"],
#formulario textarea,
#formulario input[type="submit"],
#formulario select {
    border: 1px solid #bbb;
    padding: 0 0 0 10px;
    font-size: 14px;
}

#formulario select {
    background: #ddd;
    color: #373737;
    border: 1px solid #bbb;
    padding: 0 0 0 10px;
    font-size: 14px;
}

#formulario input[type="text"]:focus ,
#formulario input[type="password"]:focus,
#formulario input[type="url"]:focus,
#formulario input[type="email"]:focus,
#formulario textarea:focus,
#formulario input[type="submit"]:focus,
#formulario select:focus {
     border: 1px solid #3498db;
}

#formulario a {
    text-align: center;
    font-size: 10px;
    color: #3498db;
}

#formulario p{
    padding-bottom: 10px;
}

#formulario button,
#formulario input[type="submit"] {
    margin-top: 20px;
    background: #2ab2c7;
    border: none;
    color: #373737;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    transition: box-shadow .4s ease;
}

#agregar-fotos-div button {
    margin-top: 20px;
    background: #9e323c;
    border: none;
    color: #ebeff0;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    transition: box-shadow .4s ease;
}

#formulario button:hover{
    box-shadow: 1px 1px 5px #555;
}

#formulario button:active {
    box-shadow: 1px 1px 7px #222;
}
