/* Estilo home.html */

/*Paleta de colores
Verde: #81FA25
Celeste/Azul: #20BED6
Morado: #952FED
Rojo: #D64920
Amarillo: #FAE34A
*/
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    background-color: #efefef;
}

#Mensaje_de_bienvenida{
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    color: #20BED6;
}
#imagen_principal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 20px;
    width: 50%;
}
#Categorias{
    display: inline;
}

#Redirecciones{
    text-align: end;
}