/* Estilo mi_perfil.html */

 #barra_lateral{
     display: inline;
 }
 #informacion{
     position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -50px;
    width: 250px;
    height: 250px;
    background-color: beige;
 }