/* Estilo mi_perfil.html */
@import "estilo_tablas.css";



 *{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

#titulo{
    font-size: 20px;
}

#usuario{
    margin-top: 5px;
    font-size:18px;
    color: #4a4b4b;
    text-align: center;
}

#imagen {
    text-align: left;
}

.imagen_grande {
    border-radius: 5px;
    border:solid #b2b2aa 1px;
    text-align: center;
}

#datos0{
    display: flex;
    flex-direction: column;
    margin: 5px;
    background: #e1e1d9;
    border-radius: 2px;
    border: solid #b2b2aa 1px;
    box-shadow: 0px 0px 5px #e1e1d9;
    padding: 10px;
    flex-grow: 100;
    height: auto;
}

#opciones{
    display: flex;
    flex: 1;
    justify-content: left;
}

#opciones li{
    list-style: none;
}

#opciones li a{
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px 12px;
    border: solid #b2b2aa 1px;
    background: #ddd;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

#opciones li a:hover{
    background: #b4b4ac;
    text-shadow:0px 0px 3px #ffe500;
    color: #ffe500;
    cursor: pointer;
}

#opciones li a.active{
    background: #9e9e97;
    font-weight: bold;
}

#datos1{
    margin: 5px;
    background: #e1e1d9;
    display: inline;
    border-radius: 2px;
    border: solid #b2b2aa 1px;
    box-shadow: 0px 0px 5px #e1e1d9;
    padding: 10px;
    width: content-box;
    height: auto;
}

#datos1 .boton{
    text-align: center;
    margin-top: 40px;
}

#datos1 .boton button{
    width: 80%;
    margin-bottom: 25px;
    height: 40px;
    border-radius: 5px;
    outline: 0;
}

#datos1 .boton button {
    border: 1px solid #bbb;
    padding: 0 0 0 10px;
    font-size: 14px;
}

#datos1 .boton button:focus {
     border: 1px solid #3498db;
}

#datos1 .boton button {
    margin-top: 20px;
    background: #2ab2c7;
    border: none;
    color: #373737;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    transition: box-shadow .4s ease;
}

#datos1 .boton button:hover{
    box-shadow: 1px 1px 5px #555;
}

.descripcion_publicacion{
    margin: 10px;
    max-width: 600px;
    overflow: hidden;
    white-space: normal; /* Don't forget this one */
    text-overflow: ellipsis;
    min-height: 80px;
    max-height: 800px;
    line-height:20px;
}

#info{
    text-align: left;
    display: inline;
    color: #4a4b4b;
    margin-right: 10px;
    padding: 5px;
}

#info li{
    list-style: none;
    margin: 5px;
    padding: 0 15px;
}

#row{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: left;
    margin: 10px;
}

.titulo {
    text-align: left;
    margin-left: 5px;
    margin-top: 40px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 200%;
    color: #20BED6;
}

.tgrande {
    margin-left: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 250%;
    color: #20BED6
}

table {}

th, td {}

tr:nth-child(even){}

th {}

tr {}