/* Estilo publicaciones */

@import "estilo_tablas.css";

* {
    box-sizing: border-box; margin: 0; padding:0;
}

#contenedor {
    position: relative;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 15px;
    padding-top: 100px;
}

#encabezado{
    text-align: center;
    font-size: 300%;
}

#imagen{
    padding: 5px;
    padding-right: 30px;
    height: 160px;
    width: 160px;
    text-align: center;
}

#titulo{
    font-size: 25px;
}

#contenedor h1{
    position: relative;
    top: -60px;
}

#estado{
  font-size: 17px;
  font-style: italic;
}

#cambio{
  font-weight: bold;
}

#fecha{
  font-style: italic;
}


#contenedor .titulo_filtro{
    margin-left: 10px;
    color: #2B92E9;
    font-size: 28px;
    text-decoration-line: underline;
}

#contenedor .titulo_filtro:hover{
    color: #09477B;
    font-size: 28px;
    font-weight: bold;
    text-decoration-line: underline;
    cursor: pointer;
}

#contenedor .filtro{
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: left;
    background: lightgray;
    border: 1px solid gray;
    border-collapse: collapse;
    border-radius: 5px;
    display: none;
}

#contenedor .categorias{
    margin-top: 5px;
    display: inline-flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

#contenedor .boton_filtro{
    float: right !important;
    padding: 6px 10px;
    margin: 5px;
    margin-top: 15px;
}

#contenedor .boton_filtro input[type=submit]{
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border-radius: 2px;
    border: solid black 1px;
    cursor: pointer;
}

#contenedor .boton_filtro input[type=submit]:hover{
  background: #ccc;
}

#contenedor .boton_marcar_todo{
    float: left !important;
    margin: 10px;
    margin-top: 40px;
}

#contenedor .ctg{
    width: 200px;
    margin-left: 5px;
}

.linea{
    border: 1px dashed gray ;
    margin: 5px 2px;
}

.centrar{
  position: relative;
  height: 150px;
}

.centrar h4{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

table {
    border: none;
    border-collapse:separate;
    border-spacing:0 15px;
    box-shadow: none;
}

tr:hover {
    text-shadow:0px 0px 3px #ffe500;
    color: #ffe500;
    cursor: pointer;
}

.publicaciones_todo{
    display: flex;
    flex-direction: column;
    margin: 5px;
    background: #eef2f3;
    border-radius: 2px;
    border: solid #b2b2aa 1px;
    box-shadow: 0px 0px 5px #e1e1d9;
    padding: 10px;
    flex-grow: 100;
    height: auto;
}

th, td {}

tr:nth-child(even){}

th {}

tr {}

.titulo_tabla {}