/* Estilo mis_trueques.html */
@import "estilo_tablas.css";


table {}

tr:hover {}

th, td {}

tr:nth-child(even){}

th {}

tr {}

.titulo_tabla {}

td[onclick]:hover{
    text-shadow:0px 0px 3px #ffe500;
    color: #ffe500;
    cursor: pointer;
}